@{
  ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card text-white bg-primary mb-3" style="">
      <div class="card-body">
        <h5 class="card-title text-center">Current Statement</h5>
        <div>
          <div class="float-left" font-size="80px">Current Credit:</div>
          <div class="float-right">$9</div>
          <br/>
        </div>
        <div>
          <div class="float-left">Current Credit On Account:</div>
          <div class="float-right">$9</div>
          <br/>
        </div>
        <div>
          <div class="float-left"><b>Total</b></div>
          <div class="float-right"><b>$9</b></div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>