@model TransactionViewModel
@{
    ViewBag.Title = "New Transaction";
}
@section Scripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/jquery-validation-unobtrusive-bootstrap/unobtrusive-bootstrap.js"></script>
}
<div class="col-md-8 offset-md-2">
    <div class="card text-white bg-info mb-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Type">Type of Transaction:</label>
                <select asp-for="Type" class="form-control">
                    <option>Credit</option>
                    <option>Credit on Account</option>
                    <option>Debit to Credit</option>
                    <option>Debit to Credit on Account</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount">Amount:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="Amount" type="number" min="0.01" step="0.01" value="0.01" class="form-control"/>
                </div>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description:</label>
                <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Create Transaction</button>
                <div class="text-white"><b>@ViewBag.UserMessage</b></div>
            </div>
        </form>
    </div>
</div>